/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.mat-toolbar.mat-primary {
    background: #00aaff;
}

h2, h3 {
    color: rgb(51,51,51);
}

.mat-card h1 {
    color: rgb(51,51,51);
}

.mat-button:hover {
   background: white;
}

.mat-raised-button {
    background: #00aaff;
    color: white;
}