/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.mat-toolbar.mat-primary {
    background: #303852;
}

.mat-toolbar.mat-primary {
    background: #303852;
}

h2, h3 {
    color: #087E8B;
}

.mat-card h1 {
    color: rgb(104, 104, 104);
}