/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

/* Defining custom theming for Angular Material */
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue, 600);
$my-app-accent:  mat-palette($mat-blue, A500);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

* {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #060809;
}

h1, h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
}

.mat-toolbar.mat-primary {
    background: #fff;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.08);
}

.mat-sidenav-container {
    background: rgba(245, 245, 245, 0.6);
}

.mat-card h1 {
    color: rgb(51,51,51);
    
}

.mat-button {
    color: white;
    background-color: #1e88e5;
}

.mat-button:hover {
    color: white;
   background: #1682e0;
   text-decoration: none!important;
}

.mat-raised-button {
    background: #1e88e5;
    color: white;
}

