.macro-chart {
    margin-bottom: 2rem;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .macro-chart {
        margin-bottom: 2rem;
    }

}

h5 {
    font-weight: 900;
    color: #1682e0;
}

.section-title {
    border-color: rgba(243, 244, 248, 1);
    border-width: 0 0 0.1rem 0;
    border-style: solid;
    margin-bottom: 2rem;
}

.main-display {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}