<div class="row section-title">
    <div class="col-12">
        <h2 class="stat">Your Calorie Split</h2>
    </div>
</div>

<div class="row">

    <!-- Displays doughnut chart -->
    <div class="col-md-6 mx-auto">
        <app-macro-doughnut-chart
            [protein]="userMacros?.protein"
            [fat]="userMacros?.fat"
            [carbs]="userMacros?.carbs"
            *ngIf="ready"
        ></app-macro-doughnut-chart>
    </div>

    <!-- Displays macro table -->
    <div class="col md-6 mx-auto">
        <app-macrotable
            [protein]="userMacros?.protein"
            [fat]="userMacros?.fat"
            [carbs]="userMacros?.carbs"
            *ngIf="ready"
        ></app-macrotable>
    </div>

</div>