
<div class="container">

    <div class="row">
        <div class="flex-container main-signup mx-auto">

            <mat-horizontal-stepper [linear]="false" #stepper>

                <!-- START First stepper -->
                <mat-step [stepControl]="userDetailsGroup">
                    
                    <form [formGroup]="userDetailsGroup">
                    
                    <ng-template matStepLabel>Account Information</ng-template>
                    
                    <!-- START Input Field Controls -->

                    <!-- User Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="User Name" formControlName="username" required>
                        <mat-error *ngFor="let validation of userValidationMessage.username">
                            <p *ngIf="userDetailsGroup.get('username').hasError(validation.type) && ( userDetailsGroup.get('username').dirty ) ">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- First Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="firstname" required>
                        <mat-error *ngFor="let validation of userValidationMessage.firstname">
                            <p *ngIf="userDetailsGroup.get('firstname').hasError(validation.type) && ( userDetailsGroup.get('firstname').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- Last Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="lastname" required>
                        <mat-error *ngFor="let validation of userValidationMessage.lastname">
                            <p *ngIf="userDetailsGroup.get('lastname').hasError(validation.type) && ( userDetailsGroup.get('lastname').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>
    
                    <!-- Password input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" [type]="'password'" required>
                        <mat-error *ngFor="let validation of userValidationMessage.password">
                            <p *ngIf="userDetailsGroup.get('password').hasError(validation.type) && ( userDetailsGroup.get('password').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- END Input Field Controls -->

                    <!-- Form buttons: Will not move onto next stepper until all valid info -->
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                    </form>
                </mat-step>
                <!-- END First stepper -->
                
                <!-- START Second stepper -->
                <mat-step [stepControl]="fitnessInfoGroup">

                    <form [formGroup]="fitnessInfoGroup">

                    <ng-template matStepLabel>Fitness Information</ng-template>
                    
                    <!-- START Input Field Controls -->
                
                    <!-- Starting weight input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Starting weight" formControlName="startingweight"required>
                        <span matSuffix style="margin-right: 1rem">lbs</span>
                    </mat-form-field>

                    <!-- Starting gender input field control -->
                    <div class="radio-form-field">
                        <label>Gender:</label>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <!-- Starting birth input field control -->
                    <div class="birth-field">
                        <h6>Date of birth</h6>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="DOB">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <p class="subtext">Don't worry, this isn't public.</p>
                    </div>

                    <!-- Starting activity level input field control -->
                    <div class="radio-form-field">
                        <label class="label-activity">How would you describe your activity level?</label>
                        <mat-radio-group class="radio-group-activity" formControlName="activitylevel">
                            <mat-radio-button class="btn-activity" value="1.2">Sedentary: Little or no exercise (desk job)</mat-radio-button>
                            <mat-radio-button class="btn-activity" value="1.375">Lightly active: Light Exercise or sports 1-3 days/week</mat-radio-button>
                            <mat-radio-button class="btn-activity" value="1.55">Moderately Active: Moderate Exercise or sports 6-7 days/week</mat-radio-button>
                            <mat-radio-button class="btn-activity" value="1.725">Very Active: Hard Exercise every day</mat-radio-button>
                            <mat-radio-button class="btn-activity" value="1.9">Extra Active: Hard Exercise 2 or more time per day</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <!-- END Input Field Controls -->

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button>Submit</button>
                    </div>
                    </form>

                </mat-step>
                <!-- END Second stepper -->
                
            </mat-horizontal-stepper>

        </div>
    </div>

    <p>Form value: {{ userDetailsGroup.value | json }}</p>
    <p>Form value: {{ fitnessInfoGroup.value | json }}</p>

</div>
