.section-title {
    margin-top: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .flex-container > * {
    width: 100%;
  }

.mat-select-underline {
  transform: perspective(1px)
}

form {
  margin-left: 1rem;
}

mat-form-field {
  display: block;
  width: 25rem;
  margin-top: 0.75rem;
  
}

::ng-deep .mat-form-field-flex {
  background: rgb(245, 248, 250);
}

::ng-deep .mat-form-field-infix {
  margin-left: 0.5rem;
}

