
<div class="container">

    <div class="row">
        <div class="flex-container main-signup mx-auto">

            <mat-horizontal-stepper [linear]="true" #stepper>

                <!-- START First stepper -->
                <mat-step [stepControl]="userDetailsForm">
                    
                    <form [formGroup]="userDetailsForm">
                    
                    <ng-template matStepLabel>Account Information</ng-template>
                    
                    <!-- START Input Field Controls -->

                    <!-- User Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="User Name" formControlName="username" required>
                        <mat-error *ngFor="let validation of userValidationMessage.username">
                            <p *ngIf="userDetailsForm.get('username').hasError(validation.type) && ( userDetailsForm.get('username').dirty ) ">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- First Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="First Name" formControlName="firstname" required>
                        <mat-error *ngFor="let validation of userValidationMessage.firstname">
                            <p *ngIf="userDetailsForm.get('firstname').hasError(validation.type) && ( userDetailsForm.get('firstname').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- Last Name input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="lastname" required>
                        <mat-error *ngFor="let validation of userValidationMessage.lastname">
                            <p *ngIf="userDetailsForm.get('lastname').hasError(validation.type) && ( userDetailsForm.get('lastname').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>
    
                    <!-- Password input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="password" [type]="'password'" required>
                        <mat-error *ngFor="let validation of userValidationMessage.password">
                            <p *ngIf="userDetailsForm.get('password').hasError(validation.type) && ( userDetailsForm.get('password').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>
    
                    <!-- Confirm Password input field control -->
                    <mat-form-field>
                        <input matInput placeholder="Password" formControlName="confirmPassword" [type]="'password'" required>
                        <mat-error *ngFor="let validation of userValidationMessage.confirmPassword">
                            <p *ngIf="userDetailsForm.get('confirmPassword').hasError(validation.type) && ( userDetailsForm.get('confirmPassword').dirty )">{{validation.message}} </p>
                        </mat-error>
                    </mat-form-field>

                    <!-- END Input Field Controls -->

                    <!-- Form buttons: Will not move onto next stepper until all valid info -->
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                    </form>
                </mat-step>
                <!-- END First stepper -->
                
                <!-- START Second stepper -->
                <mat-step [stepControl]="secondFormGroup">

                    <form [formGroup]="secondFormGroup">

                    <ng-template matStepLabel>Fitness Profile Information</ng-template>
                    
                    <!-- START Input Field Controls -->

                    <mat-form-field>
                        <input matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>

                    <!-- END Input Field Controls -->

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button>Submit</button>
                    </div>
                    </form>

                </mat-step>
                <!-- END Second stepper -->
                
            </mat-horizontal-stepper>

        </div>
    </div>

    <p>Form value: {{ userDetailsForm.value | json }}</p>
    <p>Form value: {{ secondFormGroup.value | json }}</p>

</div>
