.mat-card-image:first-child {
    margin-top: 15px;
    margin-right: 20px;
}

.mat-card-header-text {
    margin: 0 0px;
}

.numberDisplay h1,h5 {
  display: inline-block;
}

a {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.statimg {
  width: 100%;
  padding-top: 2rem;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    mat-card.example-card {
        height: 12rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 992px) {
  mat-card.example-card {
      height: 9rem;
  }
}

