<mat-card class="example-card">

    <div class="row">

        <div class="col-9">

            <a href=""></a>
            <mat-card-content>
                <div class="numberDisplay">
                    <h1>{{numDisplay}} </h1>
                    <h5 style="margin-left: 0.5rem">{{unit}}</h5>
                </div>
                <mat-card-title>{{title}}</mat-card-title>
                <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
            </mat-card-content>

        </div>

        <div class="col-3 statimg">
            <fa-icon [icon]="faChartIcon" size="lg"></fa-icon>
        </div>
    </div>

</mat-card>