<div class="flex">
    <div class="flex-item">
      
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          [showGridLines]="showGridLines"
          (select)="select($event)"
          (activate)="activate($event)"
          (deactivate)="deactivate($event)" >
        </ngx-charts-line-chart>

        <!--  -->
        {{multi | json}}

    </div>

</div>