<!-- Section title -->

<div class="row section-title">
    <div class="col-12">
        <h5 class="stat">Your Weight</h5>
    </div>
</div>

<div class="container main-display">

  <!-- Display graph
    *Only show once the data is loaded -->
  <div class="row graphdisplay" *ngIf="ready && moreThanOne">
    
    <div class="col-10 mx-auto chart-parent" >
      <ngx-charts-line-chart
        [animations]="false"
        
        [scheme]="colorScheme"
        [results]="userWeights"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        [showGridLines]="showGridLines">
      </ngx-charts-line-chart>
    </div>

    <!-- {{userWeights | json}} -->
    
  </div> <!-- End graphdisplay -->

  <div class="row errordisplay" *ngIf="ready && !moreThanOne">
      <p>Please track your weight to <a href="/checkin">get started</a>.</p>
  </div>

</div>