<div class="container">

    <div class="row">
      
      <!-- To DO -->
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          [showGridLines]="showGridLines"
          (select)="select($event)"
          (activate)="activate($event)"
          (deactivate)="deactivate($event)" >
        </ngx-charts-line-chart>

    </div>

    <div class="row">
      <!-- Data -->
      {{multi2 | json}}
    </div>

</div>