<div class="container login-box">

    <div class="row">

        <div class="col" class="flex-container main-signup mx-auto login-box-container">
            
            <h4 class="header login-header-main">Log in to FitMe</h4>

            <!-- User Form Group -->
            <form [formGroup]="userDetailsGroup" (ngSubmit)="onSubmit()">

                <div class="invalid-container" *ngIf="invalidForm">
                    <p class="invalid-message">Invalid username or password.</p>
                </div>

                <!-- User Name input field control -->
                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="username" required>
                    <mat-error *ngFor="let validation of userValidationMessage.username">
                        <p *ngIf="userDetailsGroup.get('username').hasError(validation.type) && ( userDetailsGroup.get('username').dirty ) ">{{validation.message}} </p>
                    </mat-error>
                </mat-form-field>

                <!-- Password input field control -->
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" [type]="'password'" required>
                    <mat-error *ngFor="let validation of userValidationMessage.password">
                        <p *ngIf="userDetailsGroup.get('password').hasError(validation.type) && ( userDetailsGroup.get('password').dirty )">{{validation.message}} </p>
                    </mat-error>
                </mat-form-field>

                <button class="submit-btn"  mat-raised-button type="submit">Log in</button>

            </form>
            
            <!-- Footer for login -->
            <footer class="login-footer">
                <p>Not Registered? <a [routerLink]="['/signup']">Sign Up</a></p>
            </footer>
            
        </div>
        
    </div>

    <!-- <p>Form Value: {{ userDetailsGroup.value | json}}</p> -->
    <!-- DEBUGGING: Displays real time value of form, uses json pipe to transform object of objects -->

</div>
