
.login-box {
  margin-top: 2rem;
}

.login-box-container {
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1);
  background-color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > * {
  width: 100%;
}

.section-title {
    margin-top: 2rem;
}

header.login-header-main {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center
}

header.login-header {
margin-bottom: 1rem;
font-weight: 300;
font-size: 1.5rem;
}


.mat-select-underline {
  transform: perspective(1px)
}


mat-form-field {
  display: block;
  width: 20rem;
  margin-top: 0.75rem;
  
}

::ng-deep .mat-form-field-flex {
  background: rgb(245, 248, 250);
}

::ng-deep .mat-form-field-infix {
  margin-left: 0.5rem;
}


footer.login-footer {
    margin-top: 2rem;
    text-align: center
}

.invalid-message {
  color: red;
}

.invalid-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}