<div class="container">

    <div class="row">

        <div class="col" class="flex-container main-signup mx-auto login-box-container">
            
            <h4 class="header.login-header-main">Log in to FitMe</h4>

            <!-- User Form Group -->
            <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">

                <!-- User Name input field control -->
                <mat-form-field>
                    <input matInput placeholder="User Name" formControlName="username" required>
                    <mat-error *ngFor="let validation of userValidationMessage.username">
                        <p *ngIf="userDetailsForm.get('username').hasError(validation.type) && ( userDetailsForm.get('username').dirty ) ">{{validation.message}} </p>
                    </mat-error>
                </mat-form-field>

                <!-- Password input field control -->
                <mat-form-field>
                    <input matInput placeholder="Password" formControlName="password" [type]="'password'" required>
                    <mat-error *ngFor="let validation of userValidationMessage.password">
                        <p *ngIf="userDetailsForm.get('password').hasError(validation.type) && ( userDetailsForm.get('password').dirty )">{{validation.message}} </p>
                    </mat-error>
                </mat-form-field>

                <button class="submit-btn"  mat-raised-button type="submit">Log in</button>

            </form>
            
            <!-- Footer for login -->
            <footer class="login-footer">
                <p>Not Registered? <a [routerLink]="['/signup']">Sign Up</a></p>
            </footer>

            <p>Form Value: {{ userDetailsForm.value | json}}</p> <!-- Displays real time value of form, uses json pipe to transform object of objects -->
        
        </div>
    </div>
    
</div>