<!-- Container for application header -->
<mat-toolbar class=".navbar-fixed-top" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>FitMe</h1>
      <span flex></span>
      <div class="nav-items ml-auto">
        <!-- <a class="login-button u-focus--underline u-hover--underline" [routerLink]="'/login'">Log In</a> -->
        <!-- <a class="signup-button" mat-button [routerLink]="'/signup'">Sign Up</a> -->
        <a class="login-button u-focus--underline u-hover--underline" (click)="logOut()" [routerLink]="''">Log Out</a>
      </div>
    </mat-toolbar-row>

</mat-toolbar>

<!-- Container for application side bar and main content -->
<mat-sidenav-container>

    <!-- Contains application side bar -->
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/'" (click)="sidenav.toggle()" > <fa-icon style="margin-right: 0.5rem"  [icon]="faHome" size="m"></fa-icon> Dashboard </a>
      <a mat-list-item [routerLink]="'/checkin'" (click)="sidenav.toggle()" > <fa-icon style="margin-right: 0.5rem" [icon]="faWeightHanging" size="m"></fa-icon> Check-in </a>
      <a mat-list-item [routerLink]="'/stats'" (click)="sidenav.toggle()"> <fa-icon style="margin-right: 0.5rem" [icon]="faChartBar" size="m"></fa-icon> My Stats </a>
      <a mat-list-item style="color: white" (click)="sidenav.toggle()"> <fa-icon style="margin-right: 0.5rem" [icon]="faTimes" size="m"></fa-icon> Close</a>

    </mat-nav-list>
  </mat-sidenav>

  <!-- Contains application main content -->
  <mat-sidenav-content style="height: 93vh;">

    <div class="main-view">
      <router-outlet></router-outlet> <!-- Displays a page depending on URL -->
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
