<!-- Container for application header -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>FitMe</h1>
      <span flex></span>
      <div class="nav-items ml-auto">
        <a mat-button [routerLink]="'/accounts'">Login</a>
        <a mat-button [routerLink]="'/create-account'">Register</a>
      </div>
    </mat-toolbar-row>

</mat-toolbar>

<!-- Container for side bar and main content -->
<mat-sidenav-container>

    <!-- Contains side bar -->
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/'"> Dashboard </a>
        <a mat-list-item [routerLink]="'/profile'"> My Profile </a>
        <a mat-list-item [routerLink]="'/checkin'"> Check-in </a>
        <a mat-list-item [routerLink]="'/stats'"> My Stats </a>
        <a mat-list-item (click)="sidenav.toggle()">Close</a>
  
      </mat-nav-list>
    </mat-sidenav>

    <!-- Contains the main view for application -->
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet> <!-- Displays depending on URL -->
      </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<app-footer></app-footer> <!-- Shows footer on each page -->