.nav-items {
    text-align: left;
}

.mat-sidenav {
    width: 150px;
}

.mat-sidenav {
    background: rgb(245, 248, 250);
}

.mat-icon {
    color: black;
}

.login-button, .signup-button {
    font-size: .95rem;
}

.login-button {
    margin-right: 1.2rem;
}

.login-button:hover {
    text-decoration: none;
}