<div class="container">

    <!-- Page title -->
    <div class="row section-title">
        <div class="col-12">
            <h2 class="stat">Your Progress</h2>
        </div>
    </div>

    <!-- Displays three statboxes -->
        <!-- Each statbox has data passed in via property binding -->
    <div class="row">
        <div class="col-md-4">
            <app-statbox
                [title]="'Current Weight'"
                [subtitle]="'Weight as of ' + currentDate "
                [numDisplay]="currentWeight" 
                [unit]="'lbs'"
                >
            </app-statbox>
        </div>

        <div class="col-md-4">
            <app-statbox
                [title]="'Your Goal'"
                [subtitle]="userGoal.goalType + ' per week'"
                [numDisplay]="userGoal.perWeek"
                [unit]="'lbs'" >
            </app-statbox>
        </div>

        <div class="col-md-4">
            <app-statbox
                [title]="'Your Calories'"
                [subtitle]="'To meet your goal'"
                [numDisplay]="userTDEE"
                [unit]="'cal'" >
            </app-statbox>
        </div>
    </div>

    <div class="row">
        <!-- Displays doughnut chart -->
        <div class="col-md-6 mx-auto" style="margin-top: 5rem">
            <h2>Your Calorie Split</h2>
            <app-macro-doughnut-chart
                [protein]="userProtien"
                [fat]="userFat"
                [carb]="userCarb"
            ></app-macro-doughnut-chart>
        </div>
    </div>

    <ul>
        <li *ngFor="let user of loadedUsers">{{user.name}}</li>
    </ul>

</div> <!-- End container -->