<div class="container">

    <!-- Page title -->
    <div class="row section-title">
        <div class="col-12">
            <h2 class="stat">Your Progress</h2>
        </div>
    </div>

    <!-- Displays 3 stat-boxes: Data is passed in through service -->
    <div class="row">
        <div class="col-md-4">
            <app-statbox
                [title]="'Current Weight'"
                [subtitle]="'Weight as of 8/2/19'"
                [numDisplay]="105.0" >
            </app-statbox>
        </div>

        <div class="col-md-4">
            <app-statbox
                [title]="'You Gained'"
                [numDisplay]="105.0" >
            </app-statbox>
        </div>

        <div class="col-md-4">
            <app-statbox
                [title]="'Current TDEE'"
                [numDisplay]="105.0" >
            </app-statbox>
        </div>
    </div>

    <div class="row section-title">
        <div class="col-12">
            <h2 class="stat">Your Target Calories:</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <h6>Your Macronutrient split is:</h6>
            <app-macro-doughnut-chart></app-macro-doughnut-chart>
        </div>

    </div>

    <ul>
        <li *ngFor="let user of loadedUsers">{{user.name}}</li>
    </ul>

</div> <!-- End container -->