<div class="container">

    <!-- Page title -->
    <div class="row section-title">
        <div class="col-12">
            <h2 class="stat">Your Progress</h2>
        </div>
    </div>

    <!-- Displays statboxes -->
        <!-- Each statbox has data passed in via property binding -->
    <div class="row">
        <div class="col-md-4" *ngFor="let statbox of StatBoxData">
            <app-statbox
                [title]="statbox.title"
                [subtitle]="statbox.subtitle"
                [numDisplay]="statbox.numDisplay" 
                [unit]="statbox.unit"
                >
            </app-statbox>
        </div>
    </div>

    <div class="row">
        <!-- Displays doughnut chart -->
        <div class="col-md-6 mx-auto" style="margin-top: 5rem">
            <h2>Your Calorie Split</h2>
            <app-macro-doughnut-chart
                [protein]="userProtien"
                [fat]="userFat"
                [carb]="userCarb"
            ></app-macro-doughnut-chart>
        </div>
    </div>


</div> <!-- End container -->