h2 {
    text-align: center;
}

h2.stat {
    text-align: left;
}

.section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.dynamicGraphs {
    margin-top: 2rem;
    background: #ffffff;
    border-color: #1682e0;
    border-width: 0.2rem 0 0 0;
    border-style: solid;
    padding-top: 0.5rem;
}
